@model IEnumerable<ar259015MIS4200.Models.Pet>

@{
    ViewBag.Title = "Pet Index";
}

<h2>Pet Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-striped table-hover table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.firstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.petSince)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Breed)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.firstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.petSince)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Breed)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.petID }) |
            @Html.ActionLink("Details", "Details", new { id=item.petID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.petID })
        </td>
    </tr>
}

</table>
