@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Abby Rachel</h1>
    <p class="lead">I am a current student in MIS4200. In this course I will leverage all skills learned up to this point in an applied systems project working for an actual client. Find me on LinkedIn with the link below.</p>
    <p><a href="https://www.linkedin.com/in/abby-rachel/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Hometown</h2>
        <p>
            I am from a small hometown, Findlay, Ohio. I went to Liberty-Benton Local schools and played varsity and club soccer.
            Findlay is a beautiful town with so much history and things to do.
            My Favorite part about Findlay is all the local food options. My favorite restraunt to go to is the Findlay Brewing Company.
        </p>
        <p><a class="btn btn-default" href="https://visitfindlay.com/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>My Family</h2>
        <p>Back at home I live with my mom, dad, sister, and cat. One interesting fact about me is that I have a twin sister that also attends Ohio University.</p>
        @Html.ActionLink("Pet", "Index", "Pets")<br />
        @Html.ActionLink("Vet", "Index", "Vets")
    </div>
    <div class="col-md-4">
        <h2>Future Plans</h2>
        <p>I did a Co-op last semester with Marathon Petroleum as a Business Analyst. I hope to work there full time after graduation to pursue my MIS degree.</p>
        <p><a class="btn btn-default" href="https://www.marathonpetroleum.com/">Learn more &raquo;</a></p>
        @Html.ActionLink("Customer", "Index", "Customers")<br />
        @Html.ActionLink("Orders", "Index", "Orders")<br />
        @Html.ActionLink("Products", "Index", "Products")
    </div>
</div>